[Desktop Entry]
Encoding=UTF-8
Name=BlitzCoin
Comment=BlitzCoin P2P Cryptocurrency
Comment[fr]=BlitzCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BlitzCoin, eşten eşe kriptografik sanal para birimi
Comment[es]=BlitzCoin, una criptomoneda P2P
Exec=/usr/bin/bltzcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/bltzcoin;
Categories=Office;
